{% load static %}
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/account.js' %}"></script>
</head>
<body class="h-fit bg-[#EFEFEF]">
    <div class="h-auto bg-[#EFEFEF]">
         <header class="h-[15vh] w-full bg-[#EFEFEF] p-4">
            <div class="relative h-full flex lg:justify-center items-center space-x-10">
                <logo class="h-full flex items-center lg:justify-center">
                    <div class="w-[150px] md:w-[200px]">
                        <img src="{% static 'img/Group 77.png' %}" class="w-[100%] lg:w-full" alt="">
                    </div>
                </logo>
                <div class="hidden md:flex justify-center items-center h-full w-[50%]">
                    <div class="h-full flex items-center md:w-full relative">
                        <button class="absolute size-[25px] right-2">
                            <img src="{% static 'img/lupa.svg' %}" alt="">
                        </button>
                        <input type="text" placeholder="search" class="w-full bg-[#F17E34] placeholder-white text-white text-3xl pl-2 pr-10 pl-[15px] font-bold rounded-2xl">
                    </div>
                </div>
                <nav class="hidden lg:grid grid-cols-5 w-full h-full items-center text-center text-[#303196] font-bold lg:text-2xl xl:text-4xl">
                    <a href="{% url 'main' %}" class="hover:underline">Home</a>
                    <a href="{% url 'about' %}" class="hover:underline">About</a>
                    <a href="{% url 'news' %}" class="hover:underline">News</a>
                    <a href="#PSH" class="hover:underline">Contacts</a>
                    <a href="{% url 'login' %}" class=" hover:underline">Log out</a>
                </nav>
                <button class="absolute right-2 lg:hidden h-[50px] w-[50px]" onclick="main()">
                    <img src="{% static 'img/open-menu_4083576.png' %}" alt="">
                </button>
                <div id="Mobile" class="hidden grid grid-cols-5 gap-2 text-center font-bold text-[#303196] text-xl sm:text-2xl top-[80%] border-2 border-black rounded-2xl py-5 right-0 bg-[#EFEFEF] z-50 shadow-lg h-[80px] w-full absolute ">
                    <a href="{% url 'main' %}" class=" hover:underline">Home</a>
                    <a href="{% url 'about' %}" class=" hover:underline">About</a>
                    <a href="{% url 'news' %}" class=" hover:underline">News</a>
                    <a href="#PSH" class=" hover:underline">Contacts</a>
                    <a href="{% url 'login' %}" class=" hover:underline">Log out</a>
                </div>
            </div>
        </header>

        <h1 class="text-5xl p-4 text-center text-[#303196] font-bold underline">
            Account
        </h1>

        <main class="flex justify-center w-full h-auto">
            <div class="w-[80%] xl:w-[50%] h-[90%] border-4 rounded-[30px] xl:rounded-[40px] border-[#303196] flex justify-center items-center p-2  ">
                <div class="w-full h-full border-4 rounded-[25px] border-[#303196] flex flex-col justify-center items-center relative p-4">
                    <!-- Блок профиля -->
                     <div class="w-[90%] h-auto sm:grid grid-cols-2 ">
                        <form method="POST" enctype="multipart/form-data" class="w-full sm:w-fit flex flex-col justify-center items-center sm:items-start">
                            {% csrf_token %}
                            <div class="w-[150px] h-[150px] flex justify-center items-center md:w-[200px] md:h-[200px] bg-white border-4 rounded-[15px] border-[#303196] overflow-hidden">
                                {% if user.profile.avatar %}
                                    <img src="{{ user.profile.avatar.url }}" alt="Current Avatar">
                                {% else %}
                                    <img src="/media/avatars/default.png" alt="Default Avatar">
                                {% endif %}
                            </div>
                            <form id="photoForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input id="avatarInput" type="file" name="avatar" class="hidden" onchange="this.form.submit();">
                                <div class="w-full flex justify-center">
                                    <button type="button" id="changePhotoButton"
                                        class="mt-4 w-[80%] h-[40px] bg-[#F17E34] rounded-xl shadow-xl font-bold text-black text-xl md:text-2xl"
                                        onclick="document.getElementById('avatarInput').click();">
                                        Change Photo
                                    </button>
                                </div>
                            </form>
                            <!-- Форма изменения никнейма -->

                            <form method="POST" class="w-full">
                                {% csrf_token %}
                                <div class="w-full pt-4 flex flex-col justify-center items-center">
                                    <!-- Используем ваше поле ввода для никнейма, передавая данные через форму -->
                                    <div class="w-full flex justify-center">
                                        <input type="text" name="nickname" class="w-full h-fit text-[30px] md:text-[55px] font-bold text-[#303196] text-center w-[300px] outline-none bg-white border-4 rounded-[15px] border-[#303196]"
                                        value="{{ nickname_form.nickname.value|default:user.username }}">
                                    </div>

                                    <!-- Кнопка отправки формы -->
                                    <div class="w-full flex justify-center">
                                        <button type="submit" class="mt-4 w-[80%] h-[40px] bg-[#F17E34] rounded-xl shadow-xl font-bold text-black text-xl md:text-2xl">
                                        Change Nickname
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </form>
                    </div>

                    <!-- Блок для добавления идей -->
                    <form method="POST" action="{% url 'add_idea' %}" class="w-full pt-4">
                        {% csrf_token %}
                        <div class="w-full flex justify-center">
                            <textarea class="h-[70px] w-[90%] border-4 rounded-[15px] border-[#303196] font-bold pl-2 pt-2 text-2xl xl:text-[45px]"
                                name="idea_title" placeholder="title"></textarea>
                        </div>
                        <div class="w-full flex justify-center">
                            <textarea class="mt-4 h-[150px] w-[90%] border-4 rounded-[15px] border-[#303196] font-bold p-4 text-2xl xl:text-[40px] resize-none focus:outline-none placeholder:text-gray-400"
                                name="idea_desc" placeholder="Enter your description"></textarea>
                        </div>
                        <div class="w-full flex justify-center mt-4">
                            <select name="idea_category" class="h-[60px] w-[90%] border-4 rounded-[15px] border-[#303196] font-bold text-2xl xl:text-[40px] p-2 focus:outline-none">
                                <option value="" disabled selected>Select a category</option>
                                <option value="Computer science" class="font-bold">Computer science</option>
                                <option value="technology" class="font-bold">Technology</option>
                                <option value="science" class="font-bold">Science</option>
                                <option value="business" class="font-bold">Business</option>
                                <option value="art" class="font-bold">Art</option>
                            </select>
                        </div>
                        <div class="flex w-full justify-center">
                            <button type="submit" id="publishButton" class="mt-4 w-[50%] h-[60px] rounded-xl bg-[#F17E34] text-4xl font-bold text-black shadow-xl">
                                Publish
                            </button>
                        </div>
                    </form>
                    </form>

                </div>
            </div>
        </main>

        <footer class=" w-full bg-[#EFEFEF]">
            <!-- Верхний блок -->
            <div class="h-[100px] w-full bg-[#EFEFEF] flex justify-center items-center">
              <img src="{% static 'img/Group 77.png' %}" alt="Company Logo" class="h-[50px] sm:h-[80px]" />
            </div>

            <!-- Нижний блок -->
            <div class="bg-[#DFE6FF] px-4 sm:px-10 md:px-20 py-8 grid grid-cols-1 md:grid-cols-3 gap-8 sm:gap-12 relative">
              <div class="absolute bottom-0 right-0">
                <a href="{% url 'main' %}" id="PSH" class="text-sm hove:underline text-[#DFE64F]">Пасхалка</a>
              </div>
              <!-- Компания -->
              <div class="text-center">
                <p class="text-2xl sm:text-3xl lg:text-4xl text-black font-bold">Company</p>
                <div class="mt-4 text-[#303196] text-2xl sm:text-xl lg:text-3xl space-y-2">
                  <a href="{% url 'about' %}" class="hover:underline block ">About</a>
                  <a href="{% url 'news' %}" class="hover:underline block">News</a>
                </div>
              </div>

              <!-- Соцсети -->
              <div class="text-center">
                <p class="text-2xl sm:text-3xl lg:text-4xl text-black font-bold">Social media</p>
                <div class="mt-4 text-[#303196] text-2xl sm:text-xl lg:text-3xl space-y-2">
                  <a href="https://vk.com/dumnkonechno" class="hover:underline block" >VK</a>
                  <a href="https://t.me/Utinoelico" class="hover:underline block">Telegram</a>
                  <a href="#" class="hover:underline block">Instagram</a>
                </div>
              </div>

              <!-- Поддержка -->
              <div class="text-center">
                <p class="text-2xl sm:text-3xl lg:text-4xl text-black font-bold">Support</p>
                <div class="mt-4 text-[#303196] text-2xl sm:text-xl lg:text-3xl space-y-2 ">
                  <a href="tel:+79я004252642" class="hover:underline block">+7 (900) 425-26-42</a>
                  <a href="mailto:muzychenko.yd@dvfu.ru" class="hover:underline block">muzychenko.yd@dvfu.ru</a>
                  <a href="{% url 'faq' %}" class="hover:underline block">FAQ</a>
                </div>
              </div>
            </div>
    </footer>
    </div>
</body>
</html>
