{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>

</head>

<body class="bg-[#EFEFEF]">
    <header class="h-[15vh] w-full bg-[#EFEFEF] p-4 ">
        <div class="relative h-full flex lg:justify-center items-center space-x-10">
          <logo class="h-full flex items-center lg:justify-center">
              <div class="w-[150px] md:w-[200px]">
                  <img src="{% static 'img/Group 77.png' %}" class="w-[100%] lg:w-full" alt="">
              </div>
          </logo>
          <div class="hidden md:flex justify-center items-center h-full w-[50%]">
            <div class="h-full flex items-center md:w-full relative">
                <button class="absolute size-[25px] right-2">
                    <img src="{% static 'img/lupa.svg' %}" alt="">
                </button>
                <input type="text" placeholder="search" class="w-full bg-[#F17E34] placeholder-white text-white text-3xl pl-2 pr-10 pl-[15px] font-bold rounded-2xl">
            </div>

          </div>
          <nav class="hidden lg:grid grid-cols-5 w-full h-full items-center text-center text-[#303196] font-bold lg:text-2xl xl:text-4xl">
            <a href="{% url 'main' %}" class=" hover:underline">Home</a>
            <a href="{% url 'about' %}" class="hover:underline">About</a>
            <a href="{% url 'news' %}" class=" hover:underline">News</a>
            <a href="#PSH" class=" hover:underline">Contacts</a>
            <a href="{% url 'login' %}" class=" flex justify-center hover:underline" id="Login">Log in</a>
            <!-- Account img -->
            <div class=" hidden justify-center" id="photo">
              <button class="rounded-full border-2 border-black w-[80px] h-[80px] flex items-center overflow-hidden">
                <img src="{% static 'img/IMG_3811 1.png' %}" alt="">
              </button>
            </div>
            <!-- Account img -->
          </nav>
          <button class="absolute right-2 lg:hidden h-[50px] w-[50px]" onclick="main()">
            <img src="{% static 'img/open-menu_4083576.png' %}" alt="">
          </button>
          <div id="Mobile" class="hidden grid grid-cols-5 gap-2 text-center font-bold text-[#303196] text-xl sm:text-2xl top-[80%] border-2 border-black rounded-2xl py-5 right-0 bg-[#EFEFEF] z-50 shadow-lg h-[80px] w-full absolute ">
            <a href="{% url 'main' %}" class=" hover:underline">Home</a>
            <a href="{% url 'about' %}" class=" hover:underline">About</a>
            <a href="{% url 'news' %}" class=" hover:underline">News</a>
            <a href="#PSH" class=" hover:underline">Contacts</a>
            <a href="{% url 'login' %}" class=" hover:underline">Log in</a>
          </div>
        </div>
      </header>
    <div class="h-fit w-full pt-10 text-center">
        <p class="underline font-bold text-[50px] text-[#303196]">Comments</p>
    </div>
    <main class="h-fit flex justify-center items-center  text-center pt-[50px]">
        <div class="w-[96%] sm:w-[90%] lg:w-[70%] h-full border-4 rounded-[40px] border-[#303196] p-2">
            <div class="w-full h-full border-4 rounded-[30px] border-[#303196] p-4">
                <div class="h-fit w-full text-start">
                    <h1 class="text-black text-[30px] font-bold break-all">IDEA: {{ idea.title }}</h1>
                    <p class="text-black text-[30px] font-bold break-all">Description: {{ idea.description }}</p>
                </div>
                <div class="text-start text-[28px] w-full h-fit  font-bold text-black">
                    Comments:
                </div>
                <ul class="w-full h-fit">
                    {% for comment in comments %}
                        <li class="p-2 border-4 rounded-[20px] border-[#303196] font-bold bg-white shadow-[50px] mb-2">
                            <div class="flex">
                                <div class="w-[50px] h-[50px] flex-none rounded-full border-2 border-black overflow-hidden">
                                    <img src="{{ idea.user.profile.avatar.url|default:'/media/avatars/default.png' }}" alt="Idea Icon">
                                </div>
                                <div class="flex flex-col">
                                    <div class="w-full pl-2 flex items-start text-[18px]">
                                        {{ comment.author }}
                                    </div>
                                    <div class="w-full pl-2 flex items-start text-[16px]">
                                        {{ comment.created_at|date:"d M Y H:i" }}
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2 text-[18px] sm:text-[20px] text-start break-all">
                                {{ comment.text }}
                            </div>
                        </li>
                    {% empty %}
                        <li class="p-4 text-[40px] border-4 rounded-[20px] border-[#303196] font-bold">No comments. Be the first!</li>
                    {% endfor %}
                </ul>
                <div class="w-full h-fit text-start text-[20px] font-bold pt-10">
                    Add a comment:
                </div>
                <form method="post" action="{% url 'add_comment' idea.id %}">
                    {% csrf_token %}
                    <textarea name="comment" rows="3" placeholder="Your comment..." class="w-full border-4 border-[#303196] rounded-[10px] pl-2 font-bold" required></textarea>
                    <br>
                    <button type="submit" class="mt-4 w-[80px] h-fit p-2 rounded-xl bg-[#F17E34] text-xl font-bold text-black shadow-xl">Send</button>
                </form>
            </div>
        </div>

    </main>


    <footer class="mt-[100px] w-full bg-[#EFEFEF]">
        <!-- Верхний блок -->
        <div class="h-[100px] w-full bg-[#EFEFEF] flex justify-center items-center">
          <img src="{% static 'img/Group 77.png' %}" alt="Company Logo" class="h-[50px] sm:h-[80px]" />
        </div>

        <!-- Нижний блок -->
        <div class="bg-[#DFE6FF] px-4 sm:px-10 md:px-20 py-8 grid grid-cols-1 md:grid-cols-3 gap-8 sm:gap-12 relative">
          <div class="absolute bottom-0 right-0">
            <a href="{% url 'main' %}" id="PSH" class="text-sm hove:underline text-[#DFE64F]">Пасхалка</a>
          </div>
          <!-- Компания -->
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-4xl text-black font-bold">Company</p>
            <div class="mt-4 text-[#303196] text-2xl sm:text-xl lg:text-3xl space-y-2">
              <a href="#" class="hover:underline block ">About</a>
              <a href="#" class="hover:underline block">News</a>
            </div>
          </div>

          <!-- Соцсети -->
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-4xl text-black font-bold">Social media</p>
            <div class="mt-4 text-[#303196] text-2xl sm:text-xl lg:text-3xl space-y-2">
              <a href="https://vk.com/dumnkonechno" class="hover:underline block" >VK</a>
              <a href="https://t.me/Utinoelico" class="hover:underline block">Telegram</a>
              <a href="#" class="hover:underline block">Instagram</a>
            </div>
          </div>

          <!-- Поддержка -->
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-4xl text-black font-bold">Support</p>
            <div class="mt-4 text-[#303196] text-2xl sm:text-xl lg:text-3xl space-y-2 ">
              <a href="tel:+79004252642" class="hover:underline block">+7 (900) 425-26-42</a>
              <a href="mailto:muzychenko.yd@dvfu.ru" class="hover:underline block">muzychenko.yd@dvfu.ru</a>
              <a href="{% url 'faq' %}" class="hover:underline block">FAQ</a>
            </div>
          </div>
        </div>
      </footer>
</body>
